#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.result-image {
  margin-top: 30px;
  width: 500px;
}

.manage-prompts {
  border: solid 5px;
  display: flex;
  justify-content: left;
}
